source https://nuget.org/api/v2
nuget Angara.Serialization ~> 0.3.0

group Build
  source https://nuget.org/api/v2
  
  nuget Yarnpkg.Yarn ~> 1.6.0
  nuget SourceLink.Fake
  nuget FAKE >= 4.64.1
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2

group Docs
  source https://www.nuget.org/api/v2

  nuget Angara.Html ~> 0.2.5
  nuget Angara.Table ~> 0.2.3